.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header-style {
  text-align: center;
}


.box-class {
  box-shadow: 1px 1px 1px 1px #dfdfdf6b;
  padding: 20px 0px;
  width: 100%;
}

.item-box{
  padding-right: 50px;
  align-self: center;
}

.item-avator {
  flex-direction: row-reverse;
}

.routin.style{
  background-color: rgb(252 252 249);
}

.routin-box {
  display: flex;
  height: auto;
  padding: 20px 10%;
  background-color: rgb(252 252 249);

  
}

.routin-left{
  flex: 1 ;
}

.routin-right{
  background-color: rgb(255, 255, 255);
  border-radius: 10px ;
  display: flex;
  flex: 4;
  padding: 0 20px
}


